<section>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-hint>Please enter a valid Email.</mat-hint>
            <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
            <mat-error *ngIf="!email.hasError('required')">Email is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-hint>Please enter a valid Password.</mat-hint>
            <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
        </mat-form-field>
        <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</section>